In [1]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np

In [3]:
# Print options
np.set_printoptions(precision=4, threshold=10000, linewidth=160, edgeitems=999, suppress=True)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 160)
pd.set_option('expand_frame_repr', False)
pd.set_option('precision', 4)
""" fix flow to 3 places"""
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
datadirectory = '/Volumes/GoogleDrive/My Drive/data/cvdata/'

In [5]:
file = 'cases_sample_jul29.csv'

In [6]:
dfcase = pd.read_csv(datadirectory + file, low_memory=False)
dfcase.head()

   Unnamed: 0           AccountId  CaseNumber                   ClosedDate
0           0  0014000000Pt5eKAAR     2013965  2017-11-04 00:23:04.0000000
1           1  0014000000qgyZbAAI     2008248  2017-09-19 07:40:28.0000000
2           2  0014000000eVC6xAAG     2008252  2017-09-19 21:24:20.0000000
3           3  0014000000FFOv0AAH     2008254  2017-09-21 21:32:03.0000000
4           4  0014000000oxLyTAAU     2008281  2017-09-18 21:12:17.0000000

In [7]:
del dfcase['Unnamed: 0']

In [8]:
# follow one account through process
dfcase.loc[dfcase['AccountId']=='0014000001bwjjfAAA', ['AccountId', 'CaseNumber', 'ClosedDate']][:10]

                  AccountId  CaseNumber                   ClosedDate
59582    0014000001bwjjfAAA     2103742  2018-02-07 07:48:38.0000000
136388   0014000001bwjjfAAA     2249724  2018-08-01 10:41:31.0000000
136390   0014000001bwjjfAAA     2249751  2018-08-08 20:21:10.0000000
169127   0014000001bwjjfAAA     2271716  2018-08-30 15:06:06.0000000
236778   0014000001bwjjfAAA     2307707  2018-10-30 16:29:18.0000000
1025216  0014000001bwjjfAAA     1731542  2016-11-03 16:47:20.0000000
1086072  0014000001bwjjfAAA     1815065  2017-01-18 12:31:29.0000000
1227993  0014000001bwjjfAAA     1720534  2016-09-05 08:25:49.0000000

In [9]:
dfcase['ClosedDate'] = pd.to_datetime(dfcase['ClosedDate'], errors='coerce')

In [10]:
dfcase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1236941 entries, 0 to 1236940
Data columns (total 3 columns):
AccountId     1236941 non-null object
CaseNumber    1236941 non-null int64
ClosedDate    1236941 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 28.3+ MB

In [11]:
dfcase['AccountId'].nunique()

21389

In [12]:
dfcase.head()

            AccountId  CaseNumber          ClosedDate
0  0014000000Pt5eKAAR     2013965 2017-11-04 00:23:04
1  0014000000qgyZbAAI     2008248 2017-09-19 07:40:28
2  0014000000eVC6xAAG     2008252 2017-09-19 21:24:20
3  0014000000FFOv0AAH     2008254 2017-09-21 21:32:03
4  0014000000oxLyTAAU     2008281 2017-09-18 21:12:17

In [14]:
dfcase['DateLink'] = dfcase['ClosedDate'].values.astype('datetime64[M]')
dfcase.head()

            AccountId  CaseNumber          ClosedDate   DateLink
0  0014000000Pt5eKAAR     2013965 2017-11-04 00:23:04 2017-11-01
1  0014000000qgyZbAAI     2008248 2017-09-19 07:40:28 2017-09-01
2  0014000000eVC6xAAG     2008252 2017-09-19 21:24:20 2017-09-01
3  0014000000FFOv0AAH     2008254 2017-09-21 21:32:03 2017-09-01
4  0014000000oxLyTAAU     2008281 2017-09-18 21:12:17 2017-09-01

In [15]:
dfcase.groupby(['AccountId','DateLink']).size().sort_values(ascending=False)[:10]

AccountId           DateLink
0014000000FhoOwAAJ  2017-08-01    173
0014000000FFcuRAAT  2018-05-01    169
0014000000SmpZOAAZ  2013-12-01    161
0014000000OJl5jAAD  2016-12-01    151
0014000000I0r2BAAR  2016-08-01    145
0014000000FhoOwAAJ  2017-07-01    144
0014000000I0r2BAAR  2016-06-01    141
0014000000SmpZOAAZ  2013-06-01    135
0014000000I0r2BAAR  2016-07-01    133
0014000000SmpZOAAZ  2013-11-01    132
dtype: int64

In [16]:
Casesfrom12mo = dfcase.groupby(['AccountId', 'DateLink'])['CaseNumber'].count()
Casesfrom12mo[:2]

AccountId           DateLink
0011W00001qor2qQAA  2017-09-01    2
                    2017-10-01    2
Name: CaseNumber, dtype: int64

In [17]:
Casesfrom12mo = Casesfrom12mo.unstack()
Casesfrom12mo.head(3)

DateLink            2006-10-01  2007-02-01  2007-03-01  2007-04-01  2007-05-01  2007-06-01  2007-07-01  2007-08-01  2007-09-01  2007-10-01  2007-11-01  2007-12-01  2008-01-01  2008-02-01  2008-03-01  2008-04-01  2008-05-01  2008-06-01  2008-07-01  2008-08-01  2008-09-01  2008-10-01  2008-11-01  2008-12-01  2009-01-01  2009-02-01  2009-03-01  2009-04-01  2009-05-01  2009-06-01  2009-07-01  2009-08-01  2009-09-01  2009-10-01  2009-11-01  2009-12-01  2010-01-01  2010-02-01  2010-03-01  2010-04-01  2010-05-01  2010-06-01  2010-07-01  2010-08-01  2010-09-01  2010-10-01  2010-11-01  2010-12-01  2011-01-01  2011-02-01  2011-03-01  2011-04-01  2011-05-01  2011-06-01  2011-07-01  2011-08-01  2011-09-01  2011-10-01  2011-11-01  2011-12-01  2012-01-01  2012-02-01  2012-03-01  2012-04-01  2012-05-01  2012-06-01  2012-07-01  2012-08-01  2012-09-01  2012-10-01  2012-11-01  2012-12-01  2013-01-01  2013-05-01  2013-06-01  2013-07-01  2013-08-01  2013-09-01  2013-10-01  2013-11-01  2013-12-01  2014-01-01  2014-02-01  2014-03-01  2014-04-01  2014-05-01  2014-06-01  2014-07-01  2014-08-01  2014-09-01  2014-10-01  2014-11-01  2014-12-01  2015-01-01  2015-02-01  2015-03-01  2015-04-01  2015-05-01  2015-06-01  2015-07-01  2015-08-01  2015-09-01  2015-10-01  2015-11-01  2015-12-01  2016-01-01  2016-02-01  2016-03-01  2016-04-01  2016-05-01  2016-06-01  2016-07-01  2016-08-01  2016-09-01  2016-10-01  2016-11-01  2016-12-01  2017-01-01  2017-02-01  2017-03-01  2017-04-01  2017-05-01  2017-06-01  2017-07-01  2017-08-01  2017-09-01  2017-10-01  2017-11-01  2017-12-01  2018-01-01  2018-02-01  2018-03-01  2018-04-01  2018-05-01  2018-06-01  2018-07-01  2018-08-01  2018-09-01  2018-10-01  2018-11-01  2018-12-01  2019-01-01  2019-02-01  2019-03-01  2019-04-01  2019-05-01  2019-06-01  2019-07-01
AccountId
0011W00001qor2qQAA         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan        2.00        2.00         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan
0011W00001qosMLQAY         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan        1.00         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan
0011W00001qoshTQAQ         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan        3.00         nan         nan         nan        1.00

In [18]:
Casesfrom12mo.loc[['0014000001bwjjfAAA'], :]

DateLink            2006-10-01  2007-02-01  2007-03-01  2007-04-01  2007-05-01  2007-06-01  2007-07-01  2007-08-01  2007-09-01  2007-10-01  2007-11-01  2007-12-01  2008-01-01  2008-02-01  2008-03-01  2008-04-01  2008-05-01  2008-06-01  2008-07-01  2008-08-01  2008-09-01  2008-10-01  2008-11-01  2008-12-01  2009-01-01  2009-02-01  2009-03-01  2009-04-01  2009-05-01  2009-06-01  2009-07-01  2009-08-01  2009-09-01  2009-10-01  2009-11-01  2009-12-01  2010-01-01  2010-02-01  2010-03-01  2010-04-01  2010-05-01  2010-06-01  2010-07-01  2010-08-01  2010-09-01  2010-10-01  2010-11-01  2010-12-01  2011-01-01  2011-02-01  2011-03-01  2011-04-01  2011-05-01  2011-06-01  2011-07-01  2011-08-01  2011-09-01  2011-10-01  2011-11-01  2011-12-01  2012-01-01  2012-02-01  2012-03-01  2012-04-01  2012-05-01  2012-06-01  2012-07-01  2012-08-01  2012-09-01  2012-10-01  2012-11-01  2012-12-01  2013-01-01  2013-05-01  2013-06-01  2013-07-01  2013-08-01  2013-09-01  2013-10-01  2013-11-01  2013-12-01  2014-01-01  2014-02-01  2014-03-01  2014-04-01  2014-05-01  2014-06-01  2014-07-01  2014-08-01  2014-09-01  2014-10-01  2014-11-01  2014-12-01  2015-01-01  2015-02-01  2015-03-01  2015-04-01  2015-05-01  2015-06-01  2015-07-01  2015-08-01  2015-09-01  2015-10-01  2015-11-01  2015-12-01  2016-01-01  2016-02-01  2016-03-01  2016-04-01  2016-05-01  2016-06-01  2016-07-01  2016-08-01  2016-09-01  2016-10-01  2016-11-01  2016-12-01  2017-01-01  2017-02-01  2017-03-01  2017-04-01  2017-05-01  2017-06-01  2017-07-01  2017-08-01  2017-09-01  2017-10-01  2017-11-01  2017-12-01  2018-01-01  2018-02-01  2018-03-01  2018-04-01  2018-05-01  2018-06-01  2018-07-01  2018-08-01  2018-09-01  2018-10-01  2018-11-01  2018-12-01  2019-01-01  2019-02-01  2019-03-01  2019-04-01  2019-05-01  2019-06-01  2019-07-01
AccountId
0014000001bwjjfAAA         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan        1.00         nan        1.00         nan        1.00         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan         nan        1.00         nan         nan         nan         nan         nan        3.00         nan        1.00         nan         nan         nan         nan         nan         nan         nan         nan         nan

In [19]:
#Transpose results
Casesfrom12mo = Casesfrom12mo.T

In [20]:
Casesfrom12mo = Casesfrom12mo.to_period(freq='M')

In [21]:
Casesfrom12mo = Casesfrom12mo.rolling(12, min_periods=1).sum()

In [22]:
Casesfrom12mo['0014000001bwjjfAAA'][-10:]

DateLink
2018-10   5.00
2018-11   5.00
2018-12   5.00
2019-01   5.00
2019-02   4.00
2019-03   4.00
2019-04   4.00
2019-05   4.00
2019-06   4.00
2019-07   4.00
Freq: M, Name: 0014000001bwjjfAAA, dtype: float64

In [23]:
Casesfrom12mo = Casesfrom12mo.unstack(level=1)
Casesfrom12mo = pd.DataFrame(Casesfrom12mo)

In [26]:
Casesfrom12mo.index.names = ['accountid', 'DateLink']

In [27]:
Casesfrom12mo.head()

                              0
accountid          DateLink
0011W00001qor2qQAA 2006-10  nan
                   2007-02  nan
                   2007-03  nan
                   2007-04  nan
                   2007-05  nan

In [28]:
Casesfrom12mo.rename(columns={0:'12mo_tCases'}, inplace=True)

In [29]:
Casesfrom12mo.head()

                             12mo_tCases
accountid          DateLink
0011W00001qor2qQAA 2006-10           nan
                   2007-02           nan
                   2007-03           nan
                   2007-04           nan
                   2007-05           nan

In [30]:
Casesfrom12mo.to_pickle('Casesfrom12mo')